{:paths ["resources" "src"]
 :deps {org.clojure/clojure {:mvn/version "RELEASE"}
        clj-http {:mvn/version "3.9.1"}
        cheshire {:mvn/version "5.8.1"}
        slingshot {:mvn/version "0.12.2"}
        com.brunobonacci/safely {:mvn/version "0.5.0-alpha5"}
        org.clojure/tools.logging   {:mvn/version "0.4.0"}
        org.slf4j/slf4j-log4j12     {:mvn/version "1.7.25"}
        }
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "76568540e7f40268ad2b646110f237a60295fa3c"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}}}
